// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
%idx-tit {} 
%idx-tit-line {
    content: "";
    background: url($images-url + "idx-l.png");
    @include box(134px, 7px);
    @include relative($bottom: -5px);
}
.idx-tit {
    margin-bottom: 37px;
    position: relative;
    &>a{
      @include absolute($right: 0, $top: 5px);
    }
    h4 {
        @include setFont(em(33), #333, 700);
        @include bg("idx-tit.png",$background-position: bottom center);
        padding-bottom: 25px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        img{
        }
        span, a {
            color: #333;
            display: inline-block;
            position: relative;
            &::after {
                // content: "";
                // @include bg("idx-tit.png");
                // @include box(155px, 33px);
                // @include absolute($bottom: -20px, $right: -90px);
            }
        }

        &::before {
        }

        &::after {
        }
    }
}

.idx-desc {
    // @include setFont(15px, #808080, 400, $font-text);
}
.sliderma-main{
    background-color: #fc0214;
    .slider-ma{
        .ma-item{
            @include boxstyle($display: flex, $align-items: center, $justify-content: center);
            @include setFont(13px, #fff, 700);
            min-height: 36px;
            text-transform: uppercase;
        }
    }
}
.spmoi-bg, .spmoi-bg{
    padding: em(55) 0;
}
.spnoibat-main{
    margin: 0 -#{em(15)};
}
.spnoibat-bg{
    @include clearfix;    
    position: relative;
    margin-bottom: 40px;
  .danhmuc-feature-img{
    float: left;
    width: 50%;

    @at-root .even#{&}{
        float: right;
    }
    a{
        position: relative;
        padding-top: percentage(711/684);
        display: block;
      img{
        @extend %img-fill;
        object-fit: cover;
        object-position: top center;
      }
      span.feature-content{
        $feature-postion: em(20);
        @include absolute($feature-postion,$feature-postion,$feature-postion,$feature-postion);
        @include boxstyle($display: flex, $justify-content: center, $align-items: center, $flex-direction: column);
        border: 3px solid #fefdfd;
        p{
            @include setFont(em(41), #fff, 700);
            margin-bottom: 0;
        }
        h2{
            @include setFont(em(29), #fff, 400);
            margin-bottom: 0;
        }
      }
    }
  }
  .danhmuc-sanpham{
    $right-position: percentage(33/1366);
    $top-position: 63px;
    @include absolute($top: $top-position, $right: $right-position);
    @include boxShadow(3px 4px 5px rgba(0,0,0,.25));
    min-height: percentage(579/711);
    width: percentage(807/1366);
    padding: 14px 10px;
    background-color: #fdfdfd;
    @at-root .even#{&}{
        right: unset;
        left: $right-position;
    }
    .danhmuc-sanpham-box{
        .product-grid{
            @include grid($display: flex, $flex-wrap: wrap, $gutter: 8px);
            .pr-box{
                @include grid-col($col: 4, $grid-columns: 12, $gutter: 8px);
            }
        }
    }
  }
}

.qc-item {
    a{
        display: block;
        img{
            width: 100%;
        }
    }
}
.tinnb-bg{
    padding: em(40) 0;
    background-color: #f8f8f8;
}
.tinnb-main{
    margin: 0 -#{em(14)};
  .tinnb-item{
    padding: 0 em(14);
    a{
        display: block;
        padding: 10px;
        background-color: #fff;
      figure{
        position: relative;
        padding-top: percentage(305/393);
        img{
            @extend %img-fill;
            object-fit: cover;
            object-position: top center;
        }
      }
      h5{
        @include setFont(16px, #333, 400);
        margin-bottom: 5px;
        @include line-clamp($font-size: 16px, $line-height: 1.5, $lines-to-show: 2, $max-height: false);
      }
      hr{
        margin: 0 0 5px 0;
      }
      p{
        @include setFont(14px, #333);
        // @include line-clamp($font-size: 14px, $line-height: 1.5, $lines-to-show: 3, $max-height: false);
        // text-align: justify;
        // text-align-last: left;
        margin-bottom: 0;
        span{
            text-decoration: underline;
            font-style: italic;
        }
      }
    }
  }
}
.themanh-bg{
    border-top: 1px solid #141414;
    padding: 10px 0;
}
.themanh-main{
    // margin: 0 -#{em(20)};

}
.themanh-item{
    // padding: 0 em(20);
    margin-left: -1px;
  article{
    @include boxstyle($display: flex, $justify-content: space-between, $align-items: center);
    padding-left: 10px;
    border-left: 1px solid #141414;
    figure{
        margin: 0 5px 0 0;
        @include box(60px, 60px);
        position: relative;
      img{
        @extend %img-fill;
        object-fit: scale-down;
      }
    }
    .info{
        @include flex(1);
      h6{
        @include setFont(16px, #141414, 700);
        @include line-clamp($font-size: 16px, $line-height: 1, $lines-to-show: 1, $max-height: true);
      }
      span{
        @include setFont(15px, #606060);
        display: block;
        @include line-clamp($font-size: 15px, $line-height: 1, $lines-to-show: 1, $max-height: true);
      }
    }
  }
}
.ft-info-title {
    @include setFont(em(15), #fff, 400);
    margin-bottom: 0;
}
.dichvu-item{
    background-color: #f5f1d9;
    @include doubly(){
        margin-top: 9px;
    }
    border-radius: 5px;
    overflow: hidden;
  a{
    @include boxstyle($display: flex, $align-items: center);
    @include setFont(15px, #00004f, 400);
    padding: 3px;
    text-transform: uppercase;
    figure{
        @include box(40px, 40px);
        @include boxstyle($display: flex, $align-items: center);
        margin: 0 5px 0 0;
        img{}
    }
  }
}